@-moz-document domain("notepad.pw") {
/* Userstyle for notepad.pw. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0 21/09/2016 05:16*/

/*---RAW---*/
body {
    background: black;
    color: yellow;
}

/*---edit view---*/
.nav {
    background: black;
}

.container .textarea {
    background: black;
    color: yellow;
}

.functions.ng-scope {
    background: black;
    color: yellow;
}

.container .functions .footer-share .url {
    background: grey;
    color: yellow;
}

.container .functions .modal {
    background: black;
    color: yellow;
}

.container .functions .modal .input-box {
    background: grey;
    color: yellow;
}

/*---share view---*/
.text {
    background: black;
    color: yellow;
}

.text-functions {
    background: black;
    color: yellow;
}

.muted {    
    color: yellow;
}


/*---mark down view---*/
.markdown-body {
    background: black;
    color: yellow;
}

.area {
    background: black;
    color: yellow;
}

}