@-moz-document url-prefix("chrome-extension://fjnbnpbmkenffdnngjfgmeleoegfcffe/edit.html") {
	
/* Warning you may need to change the URL this theme appies to for your PC */

body {
    background: grey;
    
}

.CodeMirror {
    height: 700px;
}
}